*,*::before,*::after{
	box-sizing: border-box;
	font-weight: normal;
	font-family: 
}

body{
	padding: 0;
	margin: 0;
	background:linear-gradient(to right, #33fdaa,#bbfdd1);
}

.calculator-body{
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(4,100px);
	grid-gap: 1px;
	grid-template-rows: minmax(120px,auto) repeat(5,100px);
}

.calculator-body>button{
	cursor: pointer;
	font-size: 2rem;
	border:2px solid #fefefe;
	outline: none;
	background-color: #66d
}

.calculator-body>button:hover{
	background-color:#aaa;
}

.span-two{
	grid-column: span 2
}

.display{
	grid-column: 1/-1;
	background-color:#da5;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	word-wrap: break-word;
	word-break: break-all;
}

.display .previous{
	color: #111;
	font-size:1.5rem
}

.display .current{
	color: #111111;
	font-size:2.5rem;
}