*{
	box-sizing: border-box;
	text-align: center;
	transition: 0.4s
}

body{
	background-color:#ddd111;
	align-content: center;
	justify-content: center;
	margin: 0px

}

body div{
	background-color: ;
	margin:auto;
	height: 100vh
}

body h2{
	color: #232323;

}
body h2 span{
	font-size:2rem;
	color: white
}

body button{
	display: block;
	margin: auto;
	outline: none;
	width: 250px;
	height: 50px;
	background-color:maroon;
	border:none;
	border-radius: 30px;
	color: white;
	font-size: 1.3rem;
	font-weight: bold;
	cursor: pointer;

}

body button:hover{
	background-color:brown;
	transition: 0.4s
}

form{
	border: 2px solid #fffd;
	background-color:black;
	border-radius: 20px;
	padding: 40px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	grid-gap: 30px;
	margin: 50px
}

input{
	border: none;
	width: 400px;
	height: 40px;
	color: brown;
	border-radius: 20px;
	background-color:#fff;
	font-size:1.2rem;
	font-weight: bold;
}

input:focus{
	background-color: #fff;
	color: black;
	outline: none;
	border-radius: 30px;
	width: 450px;

}

input::placeholder{
	color: black
}


#modal{
	display: none;
	background-color:gold;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;

}

.modal-container{
	height: 50%;
	width: 50%;
	background-color:white;
	border-radius: 20px;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	box-shadow: 10px 10px 5px grey;
} 

.modal-container p{
	color: gold;
	font-size: 2rem;
	font-weight: bold;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 40%;
	transform: translate(-100px, -50px);
}

