*, :hover{
	box-sizing: border-box;
}
body{
	background-color: #000000
}

.bg-green{
	background-color:#19922a;
}

h1{
	color: #39b54f;
} 

p{
	color: #ddddddaa;
}

a{
	text-decoration: none
}

.btn{
	background-color: #39b54f;
	color: #f1f1f1	
}

.btn:hover{
	border:2px solid #39b54f;
	color: #39b54f;
	background-color:white;
	border-radius: 5px;
	outline: none;
}

.card{
	transition: .4s
}

.card-text{
	color: #000000
}

.card-title{
	color: #19922a
}

.card:hover{
	transform: translateY(10px);
	box-shadow: 0 5px 10px 0 rgba(100, 100, 100, 0.6), 0 6px 20px 0 rgba(100, 100, 100, 0.6);

}

a{
	font-size: 1.5rem;
	color: #f1f1f1;
	text-decoration: none
}

a:hover{
	border:1px solid #f1f1f1;
	border-radius: 15px;
	color: #f1f1f1;
	padding: 5px;
}

.top{
	border:1px solid #f1f1f1;
	font-size: 1.5rem;
	padding: 10px;
	float:right;
	border-radius: 50px;
	margin-right: 100px
}